<h2><p>LEADERBOARD TEAM </p></h2>

<table class="table">
    <thead>
        <th scope="col">No</th>
        <th scope="col">TEAM</th>
        <th scope="col">POINT</th>
    </thead>
    <tbody>
      <tr class="table-active">
        <th scope="row">1</th>
      <td>Chelsea</td>
      <td>22</td>
      </tr>
      <tr>
        <th scope="row">2</th>
      <td>Liverpool</td>
      <td>21</td>
      </tr>
      <tr>
        <th scope="row">3</th>
      <td>Man City</td>
      <td>20</td>
      </tr>
      <tr>
        <th scope="row">4</th>
      <td>West Ham</td>
      <td>17</td>
      </tr>
      <tr>
        <th scope="row">5</th>
      <td>Brighton</td>
      <td>15</td>
      </tr>
      <tr>
        <th scope="row">6</th>
      <td>Tottenham</td>
      <td>15</td>
      </tr>
      <tr>
        <th scope="row">7</th>
      <td>Man Utd</td>
      <td>14</td>
      </tr>
      <tr>
        <th scope="row">8</th>
      <td>Everton</td>
      <td>14</td>
      </tr>
      <tr>
        <th scope="row">9</th>
      <td>Leicester</td>
      <td>14</td>
      </tr>
      <tr>
        <th scope="row">10</th>
      <td>Arsenal</td>
      <td>14</td>
      </tr>
      <tr>
        <th scope="row">11</th>
      <td>Wolves</td>
      <td>13</td>
      </tr>
      <tr>
        <th scope="row">12</th>
      <td>Brentford</td>
      <td>12</td>
      </tr>
      <tr>
        <th scope="row">13</th>
      <td>Aston Villa</td>
      <td>10</td>
      </tr>
      <tr>
        <th scope="row">14</th>
      <td>Watford</td>
      <td>10</td>
      </tr>
      <tr>
        <th scope="row">15</th>
      <td>Crystal Palace</td>
      <td>9</td>
      </tr>
      <tr>
        <th scope="row">16</th>
      <td>Southampton</td>
      <td>8</td>
      </tr>
      <tr>
        <th scope="row">17</th>
      <td>Leeds</td>
      <td>7</td>
      </tr>
      <tr>
        <th scope="row">18</th>
      <td>Burnley</td>
      <td>4</td>
      </tr>
      <tr>
        <th scope="row">19</th>
      <td>Newcastle</td>
      <td>4</td>
      </tr>
      <tr>
        <th scope="row">20</th>
      <td>Norwich</td>
      <td>2</td>
      </tr>

    </tbody>
  </table>