<h2><p>Jadwal Pertandingan Manchester United</p></h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Matchday</th>
        <th scope="col">Pertandingan</th>
        <th scope="col">Jam (WIB)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sabtu</td>
        <td>Tottenham vs Manchester United </td>
        <td>23.30</td>
      </tr>
      <tr>
        <td>Rabu,3 November</td>
        <td>Atalanta vs Manchester United </td>
        <td>03.00</td>
      </tr>
      <tr>
        <td>Sabtu, 6 November</td>
        <td>Manchester City vs Manchester United </td>
        <td>19.30</td>
      </tr>
      <tr>
        <td>20 November</td>
        <td>Watford vs Manchester United </td>
        <td>22.00</td>
      </tr>
      <tr>
        <td>24 November</td>
        <td>Villarreal vs Manchester United </td>
        <td>00.45</td>
      </tr>
      <tr>
        <td>28 November</td>
        <td>Chelsea vs Manchester United </td>
        <td>23.30</td>
      </tr>
      <tr>
        <td>3 Desember</td>
        <td>Arsenal vs Manchester United </td>
        <td>03.15</td>
      </tr>
    </tbody>
    
  </table>