<h2><p>Pemain Manchester United</p></h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Nama</th>
        <th scope="col">Jenis Kelamin</th>
        <th scope="col">Kota</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ronaldo</td>
        <td>Cristian Ronaldo </td>
        <td>Pria</td>
        <td>Portugal</td>
      </tr>
      <tr>
        <td>Pogba</td>
        <td>Paul labile Pogba </td>
        <td>Pria</td>
        <td>Prancis</td>
      </tr>
      <tr>
        <td>R.Varane</td>
        <td>Raphael Varane </td>
        <td>Pria</td>
        <td>Prancis</td>
      </tr>
      <tr>
        <td>Sancho</td>
        <td>Jadon Sancho </td>
        <td>Pria</td>
        <td>London</td>
      </tr>
      <tr>
        <td>Cavani</td>
        <td>Edison Cavani </td>
        <td>Pria</td>
        <td>Uruguay</td>
      </tr>
      <tr>
        <td>Rashford</td>
        <td>Marcus Rashford </td>
        <td>Pria</td>
        <td>Inggris</td>
      </tr>
      <tr>
        <td>B.Fernandes</td>
        <td>Bruno Fernandes </td>
        <td>Pria</td>
        <td>Portugal</td>
      </tr>
      <tr>
        <td>Linggard</td>
        <td>Jesse Linggard </td>
        <td>Pria</td>
        <td>Inggris</td>
      </tr>
      <tr>
        <td>Maguire</td>
        <td>Harry Maguire </td>
        <td>Pria</td>
        <td>Inggris</td>
      </tr>
      <tr>
        <td>Jones</td>
        <td>Phill Jones </td>
        <td>Pria</td>
        <td>Inggris</td>
      </tr>
      <tr>
        <td>De Gea</td>
        <td>David De Gea </td>
        <td>Pria</td>
        <td>Spanyol</td>
      </tr>
    </tbody>
    
  </table>